/* styles/fonts.css */
@font-face {
    font-family: 'Lusitana';
    src: url('../public/Fonts/Lusitana/Lusitana-Bold.ttf') format('ttf'),
        url('../public/Fonts/Lusitana/Lusitana-Regular.ttf') format('ttf');
    font-weight: 400;
    /* Adjust as needed */
    font-style: normal;
}